.header {
    background: #000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}


.header-nav {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}


.header-nav__link {
    text-decoration: none;
    color: #fff;
}

.header-nav__link:hover {
    text-decoration: underline;
}


.logout-button {
    background: none;
    border: none;
    padding: 0;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font: inherit;
}

.logout-button:hover {
    color: #ccc;
}


.logout-form {
    display: inline;
}